# .gitignore contains system files, debug files, 
# and various other files that we don't want Git to track

# Dataset Images
dataset*

# Trained path files
*.pth

# Ignored Jupiter Notebooks
add_xy_to_dataset.ipynb

# Python Jupiter Notebook checkpoints
.ipynb_*

# VS Code

.vscode/*

debug*

# Windows thumbnail cache files

Thumbs.db

ehthumbs.db

ehthumbs_vista.db



# Dump file

*.stackdump



# Folder config file

[Dd]esktop.ini



# Recycle Bin used on file shares

$RECYCLE.BIN/



# Windows Installer files

*.cab

*.msi

*.msix

*.msm

*.msp



# Windows shortcuts

*.lnk
